playing game <%= @game.id %>

<div class="game-map">

</div>
<div class="game-map-hidden">

</div>
<script>
  var MAXWIDTH;
  var MAXHEIGHT;
  var player_tile = '';
    $( document ).ready(function(){
        <% if @player.avatar == 0 %>
          <% image_string = '/assets/Pixel_Jemma.png' %>
        <% else %>
          <% image_string = '/assets/Pixel_Diane.png' %>
        <% end %>
      var player_tile = '';
      var map = '<%= @game.map%>';
      map = map.split('n');
      MAXWIDTH = map[0].length;
      MAXHEIGHT = map.length;

      var tableString = '<table class="game-table-hidden" style="border: 0px; padding: 0px; margin: 0px; border-spacing: 0px;">';

      var row = 0;
      var col = 0;
      map.forEach(function(e){
          col = 0;
          tableString += '<tr id="row-' + row + '" style="border: 0px; padding: 0px; margin: 0px;">';
          rowDetails = e.split('');
          rowDetails.forEach(function(r){
              switch(r){
                  case '0':
                      tableString += '<td data-x="' + col + '" data-y="' + row + '" id="hidden-cell-' + row + '-' + col++ + '" data-class="game-wall" class="game-wall" style="height: 75px; width: 75px; background-color: #000000;">&nbsp;</td>';
                      break;
                  case 'p':
                      player_tile = 'cell-' + row + '-' + col;
                      tableString += '<td data-x="' + col + '" data-y="' + row + '" id="hidden-cell-' + row + '-' + col++ + '" data-class="game-open game-open-1" class="game-open game-open-1" style="height: 75px; width: 75px; background-color: #FFFFFF;"><%= image_tag(image_string) %></td>';
                      break;
                  case '1':
                      //tableString += '<td data-x="' + col + '" data-y="' + row + '" id="cell-' + row + '-' + col++ + '" class="game-open game-open-' + r + '" style="height: 50px; width: 50px; background-color: #FFFFFF; background-image: url(\'/assets/1_center_blank.png\')">&nbsp;</td>';

                  default:
                      tableString += '<td data-x="' + col + '" data-y="' + row + '" id="hidden-cell-' + row + '-' + col++ + '" data-class="game-open game-open-' + r + '" class="game-open game-open-' + r + '" style="height: 75px; width: 75px; background-color: #FFFFFF;">&nbsp;</td>';
                      break;
              }
          });
          tableString += '</tr>';
          row++;
      });
      tableString += '</table>';

      $('.game-map-hidden').html(tableString);
      $('.game-table-hidden').hide();
      $('.game-map').html( generateVisibleMap(map))
      player_tile = $("#" + player_tile);
      $('.game-open-1').css('background-image', 'url("/assets/1_center_blank.png")');
      $('.game-open-2').css('background-image', 'url("/assets/2_North_wall.png")');
      $('.game-open-3').css('background-image', 'url("/assets/3_East_wall.png")');
      $('.game-open-4').css('background-image', 'url("/assets/4_South_wall.png")');
      $('.game-open-5').css('background-image', 'url("/assets/5_West_wall.png")');
      $('.game-open-6').css('background-image', 'url("/assets/6_NorthWest_corner.png")');
      $('.game-open-7').css('background-image', 'url("/assets/7_NorthEast_corner.png")');
      $('.game-open-8').css('background-image', 'url("/assets/8_SouthEast_corner.png")');
      $('.game-open-9').css('background-image', 'url("/assets/9_SouthWest_corner.png")');
      $('.game-open').css('background-repeat', 'no-repeat');
      $('.game-open').css('background-size', '100% 100%');
      $('.game-wall').css('background-color', '#000000');


        $('td').click(movePlayer);
  });
  var movePlayer = function(){
      if($(this).hasClass('game-open'))
      {
          if(player_tile != '')
              player_tile.text('');
          id = $(this).attr('id');
          $('.game-map').html( generateVisibleMapWithXY($(this).attr('data-x'), $(this).attr('data-y')));

          player_tile = $('#' + id);
          player_tile.html('<%= image_tag(image_string) %>');
          $('.game-open-1').css('background-image', 'url("/assets/1_center_blank.png")');
          $('.game-open-2').css('background-image', 'url("/assets/2_North_wall.png")');
          $('.game-open-3').css('background-image', 'url("/assets/3_East_wall.png")');
          $('.game-open-4').css('background-image', 'url("/assets/4_South_wall.png")');
          $('.game-open-5').css('background-image', 'url("/assets/5_West_wall.png")');
          $('.game-open-6').css('background-image', 'url("/assets/6_NorthWest_corner.png")');
          $('.game-open-7').css('background-image', 'url("/assets/7_NorthEast_corner.png")');
          $('.game-open-8').css('background-image', 'url("/assets/8_SouthEast_corner.png")');
          $('.game-open-9').css('background-image', 'url("/assets/9_SouthWest_corner.png")');
          $('.game-open').css('background-repeat', 'no-repeat');
          $('.game-open').css('background-size', '100% 100%');
          $('.game-wall').css('background-color', '#000000');
          $('td').click(movePlayer);
      }
  }

    function generateVisibleMapWithXY(playerX, playerY)
    {
        playerX = parseInt(playerX);
        playerY = parseInt(playerY);
        var offsetX = 0;
        var offsetY = 0;
        if(playerX - 5 < 0)
            offsetX = Math.abs(playerX - 5);
        if(playerY - 6 < 0)
            offsetY = Math.abs(playerY - 6);

        if(playerX + 5 >= MAXWIDTH)
            offsetX = MAXWIDTH - (playerX + 5);
        if(playerY + 6 >= MAXHEIGHT)
            offsetY = MAXHEIGHT - (playerY + 6);
        var tableString = '<table class="game-table" style="border: 0px; padding: 0px; margin: 0px; border-spacing: 0px;">';

        for (y = (playerY + offsetY - 6); y <= (playerY + offsetY + 6); y++)
        {
            tableString += '<tr id="row-' + y + '" style="border: 0px; padding: 0px; margin: 0px;">';

            for (x = (playerX + offsetX - 5); x <= (playerX + offsetX + 5); x++)
            {
                tableString += '<td data-x="' + x + '" data-y="' + y + '" id="cell-' + y + '-' + x + '" class="' + $('#hidden-cell-' + y + '-' + x).attr('data-class') +'" style="height: 75px; width: 75px; background-color: #FFFFFF;">&nbsp;</td>';
            }
            tableString += '</tr>';
        }
        tableString += '</table>'
        return tableString;
    }
    function generateVisibleMap(mapArray)
    {
        var playerPosX = 0;
        var playerPosY = 0;
        var offsetX = 0;
        var offsetY = 0;
        var row = 0;
        var col = 0;
        mapArray.forEach(function(e) {
            col = 0;
            rowDetails = e.split('');
            rowDetails.forEach(function(r){
                if (r == 'p')
                {
                    playerPosX = row;
                    playerPosY = col;
                }
                col++;
                if(playerPosX != 0 && playerPosY != 0)
                    return false;
            });
            row++;
            if(playerPosX != 0 && playerPosY != 0)
                return false;
        });

        var row = 0;
        var col = 0;
        if(playerPosX - 5 < 0)
            offsetX = Math.abs(playerPosX - 5);
        if(playerPosY - 6 < 0)
            offsetY = Math.abs(playerPosY - 6);

        if(playerPosX + 5 >= mapArray[0].length)
            offsetX = mapArray[0].length - (playerPosX + 5);
        if(playerPosY + 6 >= mapArray.length)
            offsetY = mapArray.length - (playerPosY + 6);
        var tableString = '<table class="game-table" style="border: 0px; padding: 0px; margin: 0px; border-spacing: 0px;">';

        mapArray.forEach(function(e){
            col = 0;
            if (row >= (playerPosX + offsetX - 5) && row <= (playerPosX + offsetX + 5))
            {
                tableString += '<tr id="row-' + row + '" style="border: 0px; padding: 0px; margin: 0px;">';
                rowDetails = e.split('');
                rowDetails.forEach(function(r){
                    if(col >= (playerPosY + offsetY - 6) && col <= (playerPosY + offsetY + 6))
                    {
                        switch(r){
                            case '0':
                                tableString += '<td data-x="' + col + '" data-y="' + row + '" id="cell-' + row + '-' + col + '" class="game-wall" style="height: 75px; width: 75px; background-color: #000000;">&nbsp;</td>';
                                break;
                            case 'p':
                                tableString += '<td data-x="' + col + '" data-y="' + row + '" id="cell-' + row + '-' + col + '" class="game-open game-open-1" style="height: 75px; width: 75px; background-color: #FFFFFF;"><%= image_tag(image_string) %></td>';
                                break;
                            case '1':
                            //tableString += '<td data-x="' + col + '" data-y="' + row + '" id="cell-' + row + '-' + col++ + '" class="game-open game-open-' + r + '" style="height: 50px; width: 50px; background-color: #FFFFFF; background-image: url(\'/assets/1_center_blank.png\')">&nbsp;</td>';

                            default:
                                tableString += '<td data-x="' + col + '" data-y="' + row + '" id="cell-' + row + '-' + col + '" class="game-open game-open-' + r + '" style="height: 75px; width: 75px; background-color: #FFFFFF;">&nbsp;</td>';
                                break;
                        }
                    }

                    col++;
                });
                tableString += '</tr>';
            }

            row++;
        });
        tableString += '</table>';
        return tableString;

    }
</script>